/* You can add global styles to this file, and also import other style files */
nav{
    background-color: #454563 !important;
}
body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.p10{
    padding: 10px;
}
.w100{
    width: 100%;
}
.text-right{
    text-align: right;
}
.btnDel{
    border: 0;
    background: none;
    color: #FF3131;
    font-size: 20px;
}
.divIcon{
    color: #167891;
    font-size: 70pt;
}
